* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #ffb900;
}

.break-all {
    word-break: break-all;
}
/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    text-align: center;
    background: #171100;
    border-radius: 24.5px;
}

.btn:hover {
    opacity: 0.9;
}

.row {
    display: flex;
}

.sub-circle {
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
}

.heading {
    font-family: "Sen";
    letter-spacing: -0.02em;
    color: #171100;
}

.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

/* ======== Header ====== */
.header {
    position: relative;
    background: #fffcf4;
}

.fixed {
    position: sticky;
    top: -24px;
    z-index: 1;
}

.body {
    padding: 36px 0 12px;
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    font-size: 1.6rem;
    color: #5f5b53;
    padding: 11px 21px;
}

.nav li ~ li a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav .active a {
    position: relative;
    font-weight: 600;
    font-size: 1.6rem;
    color: #171100;
}

.nav .active a::after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    margin-left: 21px;
    bottom: 6px;
}

.header .sign-up-btn {
    margin-left: 49px;
    min-width: 144px;
}

/* ======== Hero ====== */

.hero {
    background: #fffcf4;
    padding: 52px 0 65px;
}

.hero .img-block {
    width: 570px;
    height: 685px;
    position: relative;
}

.hero .info {
    width: 470px;
    margin: 64px 0 64px 130px;
}
.hero .img-block > img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .info .row-play {
    margin-top: 38px;
    align-items: center;
}

.hero .info .btn {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
    border-radius: 32px;
}

.hero .info .play-btn {
    margin-left: 28px;
    display: flex;
    align-items: center;
    min-width: 202px;
}

.hero .info .play-btn .icon-block-2 {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    left: 0;
}

.hero .info .play-btn span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.info > .label {
    margin-top: 48px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.info .row-img {
    margin-top: 8px;
}

.info .row-img img:last-child {
    margin-left: 28px;
}

.hero .hero-course {
    position: absolute;
    width: 270px;
    height: 244px;
    background: #ffffff;
    border-radius: 12px;
    bottom: 48px;
    right: 0;
}

.hero-course .course-group {
    padding: 24px 24px;
}

.course-group .info-course span {
    display: block;
    margin-left: 16px;
}

.course-group .row {
    align-items: center;
}

.course-group .row ~ .row {
    margin-top: 14px;
}

.course-group .icon-block {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff9e8;
    border-radius: 50%;
}

.course-group .label-1 {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.course-group .label-2 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* ======= courses ====== */

.courses {
    padding: 200px 0;
}

.courses .courses-desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .row-courses {
    display: flex;
    justify-content: space-between;
}
.courses-btn {
    display: flex;
    gap: 18px;
}

.courses-btn button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    background: #ffffff;
    cursor: pointer;
}

.courses-btn button:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.courses-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.courses-list .item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.courses-list .item:hover {
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    border-color: transparent;
}

.courses-list .thumb {
    width: calc(100% + 2px);
    height: 280px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.courses-list .courses-info {
    padding: 16px 22px 22px;
}

.courses-list .sub-title a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses-list .star-block {
    padding-left: 8px;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
}

.courses-list .star-block .score {
    font-size: 1.6rem;
    color: #fea31b;
}

.courses-list .info-desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.courses-list .row-money {
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.courses-list .row-money span {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.courses-list .btn:hover {
    background: var(--primary-color);
}

.courses-list .courses-cta-1,
.courses-list .courses-cta-2,
.courses-list .courses-cta-3 {
    font-size: 1.4rem;
}

/* ======= Feedback ======= */

.feedback {
    background: #2e2100;
    padding: 96px 0;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}

.feedback .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .title {
    margin-top: 18px;
    font-family: "Sen";
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback .circle {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.feedback .sub-circle {
    cursor: pointer;
}

.feedback .sub-circle.active {
    background: var(--primary-color);
    cursor: default;
}

.feedback .content {
    width: 66%;
}

.feedback blockquote {
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
    margin-left: 28px;
}

/* ======= features ======= */

.features {
    padding: 200px 0 100px 0;
}

.features .row {
    justify-content: space-between;
    /* align-items: center; */
}

.features .img-block {
    width: 570px;
    height: 438px;
    display: flex;
    gap: 30px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.features .img-block img {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.features .img-block img:first-child {
    margin-top: 34px;
}

.features .info {
    width: 41%;
    margin: auto 0;
}

.features .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features-cta {
    margin-top: 32px;
    background: var(--primary-color);
    border-radius: 26px;
    min-width: 137px;
}

/* ======= features-2 ======= */

.features-2 {
    padding: 100px 0 200px 0;
}

.features-2 .info {
    margin: auto 0;
    width: 48.71%;
}

.features-2 .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features-2 a {
    margin-top: 32px;
    min-width: 137px;
    background: var(--primary-color);
    border-radius: 26px;
}

.features-2 .features-2-img {
    width: 40%;
    height: 440px;
    object-fit: cover;
    margin-left: auto;
    border-radius: 20px;
}

/* ======= blog ======= */

.blog {
    padding: 96px 0;
    background: #fffcf4;
}

.blog .info {
    width: 448px;
    margin: auto;
    text-align: center;
}

.blog .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog-list {
    padding-top: 55px;
}

.blog-list .row {
    gap: 30px;
}

.blog-list .item {
    flex: 1;
    background: #ffffff;
    border-radius: 16px;
}

.blog-list .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog-list .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-info {
    margin: 20px 20px 28px;
}

.blog-list .circle {
    display: inline-block;
}

.blog-list .circle .date {
    display: flex;
    align-items: center;
}

.blog-list .circle .label {
    margin-left: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog-list .blog-info .circle .sub-circle {
    background: var(--primary-color);
}

.blog-info .sub-title a {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.horizontal {
    margin-top: 12px;
    width: calc(100% + 27px);
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog-btn {
    margin-top: 12px;
    font-size: 1.4rem;
    border-radius: 25px;
}

.blog-btn:hover {
    background: var(--primary-color);
}

.blog-list > .circle {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.blog-list > .circle > .sub-circle:nth-child(2) {
    background: var(--primary-color);
}

/* Footer */

footer {
    background: #2e2100;
    padding: 96px 0 28px;
}

footer .content {
    display: flex;
}

footer .column-group {
    width: 64.78%;
    display: flex;
    gap: 130px;
}

footer .column {
    flex: 33.33%;
}

footer .desc {
    margin-top: 18px;
    margin-right: 145px;
    width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

footer .social {
    display: flex;
    align-items: center;
    margin-top: 18px;
    gap: 18px;
}

footer .title {
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

footer .title::after {
    position: absolute;
    content: "";
    display: block;
    width: 130px;
    height: 1px;
    background: #59554b;
    left: 0;
    bottom: 0;
}
footer .column .item span,
footer .column .item a {
    display: inline-block;
    white-space: nowrap;
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

footer .location {
    width: 231px;
}

footer .location strong {
    color: #ffffff;
    font-weight: 600;
}

hr {
    height: 1px;
    margin-top: 38px;
    background: #59554b;
    border: none;
}

.copyright {
    margin-top: 28px;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
