* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    text-align: center;
    background: #171100;
    border-radius: 24.5px;
}

.btn:hover {
    opacity: 0.9;
}

.row {
    display: flex;
}

/* ======== Header ====== */
.header {
    position: relative;
    background: #fffcf4;
}

.fixed {
    position: sticky;
    top: -24px;
    z-index: 1;
}

.body {
    padding: 36px 0 12px;
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    font-size: 1.6rem;
    color: #5f5b53;
    padding: 11px 21px;
}

.nav li ~ li a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav .active a {
    position: relative;
    font-weight: 600;
    font-size: 1.6rem;
    color: #171100;
}

.nav .active a::after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    margin-left: 21px;
    bottom: 6px;
}

.header .sign-up-btn {
    margin-left: 49px;
    min-width: 144px;
}

/* ======== Hero ====== */

.hero {
    background: #fffcf4;
    padding: 64px 0;
}

.hero .img-block {
    width: 570px;
    height: 685px;
    position: relative;
}

.hero .info {
    width: 470px;
    margin: 64px 0 64px 130px;
}
.hero .img-block > img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .title {
    font-family: "Sen";
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .info .row-play {
    margin-top: 38px;
    align-items: center;
}

.hero .info .btn {
    min-width: 180px;
    line-height: 64px;
    background: #ffb900;
    border-radius: 32px;
}

.hero .info .play-btn {
    margin-left: 28px;
    display: flex;
    align-items: center;
}

.hero .info .play-btn img {
    display: inline-block;
    padding: 14px 15px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .info .play-btn span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.info > .label {
    margin-top: 48px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.info .row-img {
    margin-top: 8px;
}

.info .row-img img:last-child {
    margin-left: 28px;
}

.hero .hero-course {
    position: absolute;
    width: 270px;
    height: 244px;
    background: #ffffff;
    border-radius: 12px;
    bottom: 48px;
    right: 0;
}

.hero-course .course-group {
    padding: 24px 24px;
}
.course-group .info-course span {
    display: block;
    margin-left: 16px;
}
.course-group .row {
    align-items: center;
}
.course-group .row ~ .row {
    margin-top: 14px;
}

.course-group .row img {
    display: inline-block;
    padding: 12px 12px;
    background: #fff9e8;
    border-radius: 50%;
}

.course-group .label-1 {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.course-group .label-2 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* ======= courses ====== */

.courses {
    padding: 200px 0;
}

.courses .title {
    font-family: "Sen";
    font-weight: 700;
    font-size: 3.8rem;
    letter-spacing: -0.02em;
    color: #171100;
}

.courses .courses-desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.courses .row-courses {
    position: relative;
}

.courses .arrow {
    top: -4px;
    position: absolute;
    right: 0;
}

.courses-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}
.courses-list .item {
    flex: 1;
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.courses-list .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    background: url(image.png);
    border-radius: 12px 12px 0px 0px;
}

.courses-list .courses-info {
    padding: 16px 22px 22px;
}

.courses-list .sub-title {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.courses-list .star-block {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
}

.courses-list .star-block .score {
    font-size: 1.6rem;
    color: #fea31b;
}

.courses-list .info-desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.courses-list .row-money {
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.courses-list .row-money span {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.courses-list .courses-cta-1 {
    background: #ffb900;
}
.courses-list .courses-cta-1,
.courses-list .courses-cta-2,
.courses-list .courses-cta-3 {
    font-size: 1.4rem;
}

/* ======= Feedback ======= */

.feedback {
    background: #2e2100;
    padding: 96px 0;
}

.feedback .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .name {
    margin-top: 18px;
    font-family: "Sen";
    font-weight: 700;
    font-size: 2.4rem;
    color: #f7f7f7;
}

.feedback .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback .circle {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.feedback .circle .sub-circle {
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
}

.feedback .circle .sub-circle:nth-child(2) {
    background: #ffb900;
}

.feedback .quotes {
    position: relative;
    margin-left: auto;
    width: 770px;
}

.feedback .quotes-img {
    position: absolute;
}

.feedback .quotes-desc {
    margin: 28px 0 0 30px;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* ======= features ======= */

.features {
    padding: 200px 0;
}

.features .img-block {
    position: relative;
    width: 570px;
    height: 438px;
    display: flex;
    gap: 30px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.features .img-block .features-img-1,
.features .img-block .features-img-2 {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
    position: absolute;
}

.features .img-block .features-img-1 {
    bottom: 0;
    left: 0;
}

.features .img-block .features-img-2 {
    top: 0;
    right: 0;
}

.features .info {
    width: 470px;
    margin: 58px 0;
    margin-left: auto;
}

.features .title {
    font-family: "Sen";
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.features .desc,
.features .desc-report {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features-cta {
    margin-top: 32px;
    background: #ffb900;
    border-radius: 26px;
    min-width: 137px;
}
